<!DOCTYPE html>
{% load staticfiles %}

<html>
  <head>
    <meta charset="utf-8">
    <title>EyeExam2</title>
      <link rel="stylesheet" href="{% static "css\teststyles.css" %}">
      <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous"> -->
  </head>
  <body>
      <div class="letterdiv">
        <p id="letterDisplay"></p>
        <a href="/clinic/patientform2/"><button type="button" id="endbutton">End Test</button></a>
      </div>
      <div class="rowdiv">
        <p id="rowvalue">test</p>
      </div>
      <script>
  //     var availableLetters = ['z','t','p','o','l','f','e','d','c'];
  //     var snellenChart = [
  //                          ['z'],
  //                        ['t','p'],
  //                      ['d','f','o'],
  //                     ['z','e','c','l'],
  //                   ['f','c','t','z','d'],
  //                 ['c','f','l','d','o','p'],
  //               ['d','p','l','e','z','c','f'],
  //             ['t','z','o','p','f','l','e','d'],
  //           ['z','t','p','o','l','f','e','d','c']
  //           ];
  //     function randomizeArray(){
  //     for (var i = availableLetters.length - 1; i > 0; i--) {
  //       var j = Math.floor(Math.random() * (i + 1));
  //       var temp = availableLetters[i];
  //       availableLetters[i] = availableLetters[j];
  //       availableLetters[j] = temp;
  //   }
  // }
  //     var k, l;
  //     for( k = 0; k < 9; k++ ){
  //       randomizeArray();
  //       for(l = 0; l <= k; l++){
  //         snellenChart[k][l] = availableLetters[l];
  //       }
  //     }


      var rowScore = ["20/200","20/100","20/80","20/63","20/50","20/40","20/32","20/25","20/20"];
      var currRowValue = document.getElementById("rowvalue");
      var currLetter = document.getElementById("letterDisplay");
      var rowSize = ["125pt","62.5pt","50pt","38pt","31pt","24pt","19pt","14.5pt","12pt"];
      var letters = [
                           ['z'],
                         ['t','p'],
                       ['d','f','o'],
                      ['z','e','c','l'],
                    ['f','c','t','z','d'],
                  ['c','f','l','d','o','p'],
                ['d','p','l','e','z','c','f'],
              ['t','z','o','p','f','l','e','d'],
            ['z','t','p','o','l','f','e','d','c']
            ];
        var response;
        var currentLetterRow;
        var currentLetterIndex;

        function refresh() {

          var xhttp = new XMLHttpRequest();
          xhttp.open("GET", "https://uo03qrj5jc.execute-api.us-east-1.amazonaws.com/prod2", true);
          xhttp.send();
          xhttp.addEventListener("readystatechange", processRequest, false);
          function processRequest(e) {
            if (xhttp.readyState == 4 && xhttp.status == 200) {
              response = JSON.parse(xhttp.responseText);
              currentLetterIndex = response.letterindex;
              currentLetterRow = response.letterrow;
              letters = response.letterchart;
              if (response.bothresult != "null")
                document.getElementById('endbutton').style.visibility = 'visible';
              else {
                document.getElementById('endbutton').style.visibility = 'hidden';
              }

              console.log(response);
              if(currentLetterIndex != 22){
                currLetter.innerHTML = letters[currentLetterRow][currentLetterIndex];
                currLetter.style.fontSize = rowSize[currentLetterRow];
                currRowValue.innerHTML = rowScore[currentLetterRow];
              }
              else if(currentLetterIndex == 22){
              currRowValue.innerHTML = 't';
              currLetter.style.fontSize = rowSize[2];
              currLetter.innerHTML = 't';
             }
            }
          }
            setTimeout(refresh, 1500);
    }
      refresh();
      </script>
  </body>
</html>
